body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

.title {
    font-size: 3rem;
    color: #007BFF;
    text-align: center;
    margin-top: 2rem;
}

.desc {
    font-size: 1.25rem;
    color: #6C757D;
    text-align: center;
    margin-top: 2rem;
}